{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/css/main.css" />{% endblock %}


{% block bodyclass %}login{% endblock %}


{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
 <div id='contentmain'>
 {%  block maincontent %}
    <div class='colm1'>
      {% block colm1 %}
        <h1>About</h1>
        <br/>
        <p>
        It is a web application designed to meet all requirements of a full-fledged conference management system. It supports paper submission, organization tasks, participant and Reviewer registration, event organization, workshops held by sponsors.
        <br>The system is fully equipped to support all technical specifications of a conference management system.
        </p>

              <h1>Features</h1><br/>
        <ul>

          <li>  	Management and monitoring of the program committee</li>
          <li>    Flexible management of papers</li>
          <li>  	Automatic paper submission</li>
          <li>  	Paper assignment based on the preferences of PC members</li>
          <li>  	List of the latest events</li>
          <li>  	Submission of reviews</li>
          <li>  	Sending email to organizing committee members, referees and authors</li>
          <li>  	Online discussion of papers </li>

        </ul>
       {% endblock %}
      </div>
    <div class=colm2>
      {% block colm2 %}
        {% if user.is_authenticated %}
          <h2>Navigation </h2>
          <ul id='leftnav'>
            <li class='navlist'><a href="{% url admin:index %}">My Profile</a> </li>
            {% if user.profile.type == 'Author' %}
            <li class='navlist'><a href="{% url admin:submission_submission_changelist %}"> View Submissions </a> </li>
            <li class='navlist'><a href="{% url admin:submission_submission_add %}"> Add Submission </a> </li>
            {% endif %}
            {% if user.profile.type == 'Reviewer' %}
              <li class='navlist'><a href="{% url admin:submission_submission_changelist %}"> View Submissions </a> </li>
              <li class='navlist'><a href="{% url admin:review_bid_add %}"> Bid on a submission </a> </li>
              <li class='navlist'><a href="{% url admin:review_bid_changelist %}"> View Bids</a> </li>
              <li class='navlist'><a href="{% url admin:review_review_add %}"> Add a review </a> </li>
              <li class='navlist'><a href="{% url admin:review_review_changelist %}"> View Reviews </a> </li>
              <li class='navlist'><a href="{% url admin:review_reviewupload_add %}"> Upload review files </a> </li>
              <li class='navlist'><a href="{% url admin:review_reviewupload_changelist %}"> View uploaded reviews </a> </li>
             {% endif %}
          {% if user.profile.type == 'Delegate' %}

            {% endif %}
          {% if user.profile.type == 'Sponsor' %}
            <li class='navlist'><a href="/static/images/sponsor_banner_areas.png">View banner areas</a> </li>
            <li class='navlist'><a href="{% url admin:conference_banner_add%}">Reserve banner space</a> </li>
             <li class='navlist'><a href="{% url admin:conference_banner_changelist%}">View Reserved spaces</a> </li>

            {% endif %}
          {% if user.profile.type == 'ConfAdmin' %}
            <li class='navlist'><a href="{% url invite %}"> Invite Reviewers </a> </li>
            <li class='navlist'><a href="{% url admin:submission_submission_changelist %}"> View Submissions </a> </li>
                  <li class='navlist'><a href="{% url admin:review_bid_changelist %}"> View Bids</a> </li>

              <li class='navlist'><a href="{% url admin:review_review_changelist %}"> View Reviews </a> </li>

              <li class='navlist'><a href="{% url admin:review_reviewupload_changelist %}"> View uploaded reviews </a> </li>
            <li class='navlist'><a href="{% url admin:conference_program_add%}">Add a program</a> </li>
            <li class='navlist'><a href="{% url admin:conference_program_changelist%}">View Programs</a> </li>
            <li class='navlist'><a href="{% url admin:conference_lecture_changelist%}">View Lectures</a> </li>
            <li class='navlist'><a href="{% url admin:conference_lecture_add%}">Add Lectures</a> </li>

            {% endif %}

            <li class='navlist'><a href="{% url pay %}"> Make Payment</a> </li>
          </ul>
        {% else %}
        <h2>Login / Register</h2>
        <div class="imgFrame">
          <a href="{% url login %}" target="">
            <img src="/static/images/2011-11-2--22-16-37-540_2011-9-18--18-6-57-343_login.jpg" border="0" width="239px" height="95px">
          </a>
        </div>
        <br>
        <a href="{% url signup %}" target="">
        <h3 style="color: #4169e1;">Register on CMS</h3>
        </a>
        {% endif %}
        </p>
      <h2>Updates</h2>
      <div class="col2p">
        <h3>New site launched</h3>
        <p>
          A new site for conference management has been launched
        </p>


      </div>
     {% endblock %}
    </div>
   {% endblock %}
  </div>

{% endblock %}
<div class="footerWrapper">
  {% block footer %}
    <div class="footerFix">
    <ul style="height: 0px; display: none;"></ul>
    </div>
    </div>
    <div class="cpInfoFixWrapper">
    <div class="cpInfoFix">
      <p class="info">An institution deemed to be a University estd. vide Sec.3 of the UGC Act,1956 under notification #
        F.12-23/63.U-2 of Jun 18,1964</p>

      <p>© 2011-12 BITS-Pilani, India. </p>

    </div>
  {% endblock %}
  </div>
