{% extends "admin/login.html" %}
{% block title %}About | BITS CMS Admin{% endblock %}
{% block colm1 %}
  <h1>About</h1>
        <br/>
        <p>
        It is a web application designed to meet all requirements of a full-fledged conference management system. It supports paper submission, organization tasks, participant and Reviewer registration, event organization, workshops held by sponsors.
        <br>The system is fully equipped to support all technical specifications of a conference management system.
        </p>

              <h2>Features</h2><br/>
        <ul>

          <li>  	Management and monitoring of the program committee</li>
          <li>    Flexible management of papers</li>
          <li>  	Automatic paper submission</li>
          <li>  	Paper assignment based on the preferences of PC members</li>
          <li>  	List of the latest events</li>
          <li>  	Submission of reviews</li>
          <li>  	Sending email to organizing committee members, referees and authors</li>
          <li>  	Online discussion of papers </li>

        </ul>

{% endblock %}