<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Keywords" content="Home">
  <meta name="Description" content="Home">
  <title>Home</title>
  <link rel="icon" type="image/png" href="/static/images/fav_32.png">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" media="all">
</head>
<body class="insideTmplt1 twoCol">
<div style="background-position: right 0pt;" class="headerWrapper">
  <div class="headerWrapperFix">
    <h1 class="hidden">BITS Pilani</h1>

    <div class="logoWrapper">
      <a href="/" class="logo">
        <img src="/static/images/2011-12-16--22-47-57-720_sftwaredev_thumb.gif">
      </a>
    </div>
    <div class="searchWrapper">
      <input class="searchInput" type="text">
      <input value="Search" class="searchBtn" type="submit">
    </div>
    <ul class="mainNav">
      <li><a href="link">Home</a></li>
      <li><a href="link">Research</a></li>
      <li><a href="link">Projects</a></li>
      <li><a href="link">Services</a></li>
      <li><a href="link">Courses</a></li>
      <li><a href="link">Team</a></li>
      <li><a href="link">Contact</a></li>
    </ul>
    <ul class="commonNav">
      <li><a href="http://universe/index.aspx" '="" target="_top">University Home</a></li>
      <li><a href="http://universe/pilani/index.aspx" '="" target="_top">Pilani Campus</a></li>
    </ul>
    <ul class="siteInfo">
      <li><p class="siteLog"> {% now "jS F Y H:i" %}</p></li>
    </ul>
  </div>
</div>
<div class="infoWrapper">
  <div class="breadCrumbWrapper">
    <p>You are here:</p>
    <ul class="breadCrumb">
      <li><span class="lnk">Home</span></li>
    </ul>
  </div>
</div>
<div class="bannerInsideWrapper">
  <div class="bannerInsideFix">
    <h1>Conference Management System</h1>

    <div class="bannerCont">
      <img alt="banner" src="/static/images/software_thumb.jpg">

      <div class="qts"><span>Innovate. Achieve. Lead - Lite.</span></div>
    </div>
  </div>
</div>
<div class="contentWrapper">
  <div class="contentFix">
    <div class="twoCol">
      <div class="col1">
        {% block content %}
        <div class="hModuleWrapper">
          <a href="javascript:void(0)" class="showMore off"><span>show more</span></a>

          <div style="width: 216px; height: 90px;" class="imgFrame"><img
            src="/static/images/2011-11-9--3-6-44-817_softover.jpg" style="height: 84px; width: 210px;"></div>
          <div class="desc">
            <h2>Overview</h2>

            <p>Some overview</p>
          </div>
        </div>
        <div class="hModuleWrapper">
          <a href="javascript:void(0)" class="showMore off"><span>show more</span></a>

          <div style="width: 216px; height: 90px;" class="imgFrame"><img
            src="/static/images/2011-11-9--3-11-13-770_softreaseach.jpg" style="height: 84px; width: 210px;"></div>
          <div class="desc">
            <h2><a href="some link"><span>Heading 2</span></a></h2>

            <p>Blah Blah</p>
          </div>
        </div>
        <div class="hModuleWrapper">
          <a href="javascript:void(0)" class="showMore off"><span>show more</span></a>

          <div style="width: 216px; height: 90px;" class="imgFrame"><img
            src="/static/images/2011-11-9--3-11-13-770_softreaseach.jpg" style="height: 84px; width: 210px;"></div>
          <div class="desc">
            <h2><a href="some link"><span>Heading 2</span></a></h2>

            <p>Blah Blah</p>
          </div>
        </div>
        <div class="hModuleWrapper">
          <a href="javascript:void(0)" class="showMore off"><span>show more</span></a>

          <div style="width: 216px; height: 90px;" class="imgFrame"><img
            src="/static/images/2011-11-9--3-11-13-770_softreaseach.jpg" style="height: 84px; width: 210px;"></div>
          <div class="desc">
            <h2><a href="some link"><span>Heading 2</span></a></h2>

            <p>Blah Blah</p>
          </div>
        </div>
        <div class="hModuleWrapper">
          <a href="javascript:void(0)" class="showMore off"><span>show more</span></a>

          <div style="width: 216px; height: 90px;" class="imgFrame"><img
            src="/static/images/2011-11-9--3-11-13-770_softreaseach.jpg" style="height: 84px; width: 210px;"></div>
          <div class="desc">
            <h2><a href="some link"><span>Heading 2</span></a></h2>

            <p>Blah Blah</p>
          </div>
        </div>
        {%  endblock %}
      </div>
      <div class="col2">
        {%  block sidebar %}
        <div class="abtCol2">

          <h3>Login</h3>

          <div style="width: 245px; height: 101px;" class="imgFrame">
            <a href="{ url login }" target=""><img
              src="/static/images/2011-11-2--22-16-37-540_2011-9-18--18-6-57-343_login.jpg" border="0" width="239px"
              height="95px"></a>
          </div>
          <h4><a href="{ url login }" target="">Login to CMS</a></h4>
        </div>
        <div class="abtCol2"><h3>Latest News</h3>

          <p><strong>BITS WearComp</strong><br>It is an initiative of the CSD, BITS Pilani in the area of Pro-active
            Human-Centered Computing </p>

          <p><strong>Project Tiny6-STIC Wireless Sensor Network</strong><br>Funded by French ministry of Foreign
            Affairs, INRIA, Telecom-ParisTech, Telecom Bretagne</p>
        </div>
        <div class="rSideModule sCarousel">
          <h3>Some Heading</h3>
          Put some nice Carousel if possible
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div class="footerWrapper">
  {% block footer %}
    <div class="footerFix">
      <h2>Quick Links - How many links do we want ?</h2>

      <ul style="height: 0px; display: none;"></ul>

    </div>
    </div>
    <div class="cpInfoFixWrapper">
    <div class="cpInfoFix">
      <p class="info">An institution deemed to be a University estd. vide Sec.3 of the UGC Act,1956 under notification #
        F.12-23/63.U-2 of Jun 18,1964</p>

      <p>© 2011-12 Centre for Software Development,SDET Unit, BITS-Pilani, India. </p>

    </div>
  {% endblock %}
  </div>
</body>
</html>
